*{
    margin: 0px;
    padding: 0px;
}
.menu-con{
    background-color:black;
    padding:10px;
    color: white;
    list-style: none;
    align-items: center;

}
.menus{
    display: flex;  
    justify-content:space-around;
 
}
.ok{
    height: 300px;
}
.iteam{
    margin: 10px;
    padding: right;
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
    
}
.iteam:hover{
    color:blue;
}
.banner-con{
display: flex;
justify-content: space-around;
height: 100vh;
border: 10px solid black;
align-items: center;
background-image: url("background.jpg");
background-repeat: no-repeat;
background-size:2000px ;
}
.big{
    font-size:90px;
    font-weight: bolder;
}
.pra{
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.bt{
    padding: 10px 20px;
    color:orange;
    background-color:rgb(72, 3, 3);
}