*{
    margin: 0px;
    padding: 0px;
}
.menu-con{
    background-color:black;
    padding:10px;
    color: white;
    list-style: none;
    align-items: center;

}
.menus{
    display: flex;  
    justify-content:space-around;
    
 
}
.ok{
    height: 300px;
}
.iteam{
    margin: 10px;
    padding: right;
    font-size: 25px;
    font-style: italic;
    cursor: pointer;
    
}
.iteam:hover{
    color:blue;
}
.banner-con{
display: flex;
justify-content: space-around;
height: 100vh;
border: 10px solid black;
align-items: center;
background-image: url("background.jpg");
background-repeat: no-repeat;
background-size:2500px ;
}
.big{
    font-size:90px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
}
.pra{
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.bt{
    padding: 20px 30px;
    color:orange;
    background-color:rgb(72, 3, 3);
}
.bt:hover{
color:blue;
}
.about-con{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.au{
    text-align: center;
    font-size: 100px;
    color: orangered;
    padding-bottom:100px;
}
.about-msg{
font-size: 40px;
}
.box{
    width: 240px;
    height: 270px;
    box-shadow: 4px 4px 15px gray;
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 15px;
}
.ip{
    width: 100px;
}
.bt1{
    padding: 10px 20px;
    color:orange;
    background-color:rgb(72, 3, 3);
}
.bt1:hover{
    color:blue;}
.service-con{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-image: url(download.png);
    background-repeat: no-repeat;
    background-size: 2500px;
}